<h1>Project I</h1>

<h2>Part 1</h2>

1. จงเขียนโปรแกรมรับค่า Input จากผู้ใช้ ถ้าผู้ใช้ใส่ 0.0 จึงจะสิ้นสุดโปรแกรม คำนวณหาค่าเฉลี่ยของเลขทั้งหมดที่ผู้ใช้ใส่และปริ้นค่าเฉลี่ยคูณด้วยจำนวนครั้งที่ใส่ทั้งหมด

In [1]:
lst = list()
temp = float(input('กรุณาใส่ตัวเลข : '))
while temp != 0:
    lst.append(temp)
    temp = float(input('กรุณาใส่ตัวเลข : '))
print(f'Average = {sum(lst)/len(lst)}\nAverage * Times = {sum(lst)}')

กรุณาใส่ตัวเลข : 1
กรุณาใส่ตัวเลข : 2
กรุณาใส่ตัวเลข : 3
กรุณาใส่ตัวเลข : 5
กรุณาใส่ตัวเลข : 0
Average = 2.75
Average * Times = 11.0

2. จงเขียนโปรแกรมให้ผู้ใช้ใส่เลข ขอบเขตล่าง และ ขอบเขตบน และคำนวณหาเลขจำนวนเฉพาะ (Prime Number) ที่อยู่ระหว่างขอบเขตล่างและขอบเขตบน

In [2]:
lower = int(input('กรุณาใส่ตัวเลขขอบเขตล่าง : '))
upper = int(input('กรุณาใส่ตัวเลขขอบบน : '))
prime = list()
for num in range(lower, upper + 1):
    if num > 1:
        for i in range(2, num):
            if (num % i) == 0:
                break
        else:
            prime.append(num)
print(f'Prime number : {prime}')

กรุณาใส่ตัวเลขขอบเขตล่าง : 2
กรุณาใส่ตัวเลขขอบบน : 30
Prime number : [2, 3, 5, 7, 11, 13, 17, 19, 23, 29]

---

<h2>Part 2</h2>

In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

<h3>1. วิเคราะห์ข้อมูลจากยอดขายของวิดีโอเกมส์ จากกว่า 16,500 เกมส์<br>https://www.kaggle.com/gregorut/videogamesales</h3>

1. Import ไฟล์ vgsales เช็คข้อมูลเบื้องต้น

In [4]:
df1 = pd.read_csv('vgsales.csv')
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16598 entries, 0 to 16597
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Rank          16598 non-null  int64
 1   Name          16598 non-null  object
 2   Platform      16598 non-null  object
 3   Year          16327 non-null  float64
 4   Genre         16598 non-null  object
 5   Publisher     16540 non-null  object
 6   NA_Sales      16598 non-null  float64
 7   EU_Sales      16598 non-null  float64
 8   JP_Sales      16598 non-null  float64
 9   Other_Sales   16598 non-null  float64
 10  Global_Sales  16598 non-null  float64
dtypes: float64(6), int64(1), object(4)
memory usage: 1.4+ MB

2. สุ่มอ่านข้อมูล 10 แถว หัว 5 แถว และท้าย 10 แถว

In [5]:
df1.sample(10)

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
14569,14572,World of Zoo,PC,2009.0,Simulation,THQ,0.00,0.02,0.00,0.01,0.03
9705,9707,NHL 2002,GBA,2002.0,Sports,Electronic Arts,0.09,0.03,0.00,0.00,0.12
15871,15874,Full House Kiss 2,PS2,2006.0,Adventure,Capcom,0.00,0.00,0.02,0.00,0.02
6321,6323,RalliSport Challenge 2,XB,2004.0,Racing,Microsoft Game Studios,0.18,0.08,0.00,0.01,0.27
12835,12837,Kamen Rider: Battride War Genesis,PS4,2016.0,Action,Namco Bandai Games,0.00,0.00,0.05,0.00,0.05
6455,6457,Panzer Dragoon Orta,XB,2002.0,Shooter,Sega,0.16,0.05,0.04,0.01,0.26
6538,6540,Tiger Woods PGA Tour 10,PS2,2009.0,Sports,Electronic Arts,0.12,0.01,0.00,0.13,0.26
11870,11872,Goosebumps HorrorLand,PS2,2008.0,Adventure,Scholastic Inc.,0.04,0.03,0.00,0.01,0.07
10036,10038,Primal Rage,PS,1994.0,Fighting,Time Warner Interactive,0.06,0.04,0.00,0.01,0.11
4644,4646,Monster Jam: Urban Assault,Wii,2008.0,Racing,Activision,0.39,0.00,0.00,0.03,0.42

In [6]:
df1.head(5)

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37

In [7]:
df1.tail(10)

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
16588,16591,Mega Brain Boost,DS,2008.0,Puzzle,Majesco Entertainment,0.01,0.00,0.00,0.0,0.01
16589,16592,Chou Ezaru wa Akai Hana: Koi wa Tsuki ni Shiru...,PSV,2016.0,Action,dramatic create,0.00,0.00,0.01,0.0,0.01
16590,16593,Eiyuu Densetsu: Sora no Kiseki Material Collec...,PSP,2007.0,Role-Playing,Falcom Corporation,0.00,0.00,0.01,0.0,0.01
16591,16594,Myst IV: Revelation,PC,2004.0,Adventure,Ubisoft,0.01,0.00,0.00,0.0,0.01
16592,16595,Plushees,DS,2008.0,Simulation,Destineer,0.01,0.00,0.00,0.0,0.01
16593,16596,Woody Woodpecker in Crazy Castle 5,GBA,2002.0,Platform,Kemco,0.01,0.00,0.00,0.0,0.01
16594,16597,Men in Black II: Alien Escape,GC,2003.0,Shooter,Infogrames,0.01,0.00,0.00,0.0,0.01
16595,16598,SCORE International Baja 1000: The Official Game,PS2,2008.0,Racing,Activision,0.00,0.00,0.00,0.0,0.01
16596,16599,Know How 2,DS,2010.0,Puzzle,7G//AMES,0.00,0.01,0.00,0.0,0.01
16597,16600,Spirits & Spells,GBA,2003.0,Platform,Wanadoo,0.01,0.00,0.00,0.0,0.01

3. หา Top 10 Platform ยอดฮิต พร้อมระบุจำนวน

In [8]:
df1['Platform'].value_counts().head(10)

DS      2163
PS2     2161
PS3     1329
Wii     1325
X360    1265
PSP     1213
PS      1196
PC       960
XB       824
GBA      822
Name: Platform, dtype: int64

4. หา Bottom 10 Platform ยอดฮิต พร้อมระบุจำนวน

In [9]:
df1['Platform'].value_counts().tail(10)[::-1]

PCFX     1
GG       1
TG16     2
3DO      3
WS       6
SCD      6
NG      12
GEN     27
DC      52
NES     98
Name: Platform, dtype: int64

5. หา Top 10 Platform ชนิดของเกมส์ยอดฮิต พร้อมระบุจำนวน

In [10]:
df1['Genre'].value_counts().head(10)

Action          3316
Sports          2346
Misc            1739
Role-Playing    1488
Shooter         1310
Adventure       1286
Racing          1249
Platform         886
Simulation       867
Fighting         848
Name: Genre, dtype: int64

6. หา Bottom 10 Platform ชนิดของเกมส์ยอดฮิต พร้อมระบุจำนวน

In [11]:
df1['Genre'].value_counts().tail(10)[::-1]

Puzzle           582
Strategy         681
Fighting         848
Simulation       867
Platform         886
Racing          1249
Adventure       1286
Shooter         1310
Role-Playing    1488
Misc            1739
Name: Genre, dtype: int64

7. หารายละเอียดเกมส์ GTA V ภาคต่างๆ ทั้งหมด

8. หาจำนวนเกมส์ที่มีชื่อซ้ำกันทั้งหมด

9. หาจำนวนเกมส์ที่มีชื่อและ Platform ซ้ำกันทั้งหมด

10. จากข้อ 9 พิจารณาแถวที่ข้อมูลซ้ำแและลบแถวนั้น

11. หารายได้ทั้งหมดเกมส์ FIFA 15

12. หารายได้ทั้งหมดของเกมส์ GTA V ในญี่ปุ่น

13. สร้าง DF ที่ให้ index เป็นรายชื่อของเกมส์ที่มีซ้ำ และ Column เป็นจำนวนที่มีซ้ำ ไม่นับที่เป็น Unique

14. สร้าง DF ที่มี index เป็นชื่อบริษัท และเรียงลำดับตามรายได้รวมจากมากไปน้อย

15. จงสร้าง DF ที่บรรจุเกมส์ Series Call of duty ทั้งหมด

16. จงหาว่า Call of Duty ภาคใดใน PC มีรายสูงสุดในยุโรป 5 อันดับแรก

17. จงหาว่า Platform ใด มียอดขายรวมสูงสุดในยุโรป

18. จงหาว่าเกมส์ประเภทใดมียอดขายเฉลี่ยสูงสุดในภูมิภาคอื่นๆรอบโลก

19. สร้าง Bar Plot โดยให้แกน X เป็น Platform และ Y เป็นยอดขายทั่วโลก

20. สร้าง Pie Chart หาส่วนแบ่งทางการตลาดของ 5 บริษัทแรกที่มีรายได้มากที่สุด

21. สร้าง Count Plot นับข้อมูลประเภทของเกมส์

22. สร้าง Bar plot Top 5 รายได้ทั่วโลกของ Call of Duty ภาคต่างๆใน Xbox

23. สร้าง Line Graph แสดงรายได้จาก North America จากปีแรกถึงปีสุดท้าย

24. สร้าง Stripplot โดยให้แกน X เป็น Genre และ แกน Y เป็นรายได้ทั่วโลก

25. สร้าง Distribution Plot ของปี

26. สร้าง Bar Plot แสดงรายได้รวมในญี่ปุ่นรายปี

<h3>2. วิเคราะห์ข้อมูลจากการจองที่พักผ่าน Airbnb ที่ New York<br>https://www.kaggle.com/dgomonov/new-york-city-airbnb-open-data</h3>

1. Import ไฟล์ AB_NYC_2019 และ เช็คข้อมูลเบื้องต้น

2. สุ่มอ่านข้อมูล 10 แถว หัว 5 แถว และท้าย 10 แถว

3. หา Top 10 Neighbourhood ยอดฮิต พร้อมระบุจำนวน

4. หา Bottom 10 Neighbourhood ยอดฮิต พร้อมระบุจำนวน

5. หา Top 10 Neighbourhood Group ยอดฮิต พร้อมระบุจำนวน

6. หา Bottom 10 Neighbourhood Group ยอดฮิต พร้อมระบุจำนวน

7. หาค่าเฉลี่ยราคาของพื้นที่ และเขต

8. จงหาว่าห้องประเภทใดมีราคาเฉลี่ยมากที่สุด

9. จงหาว่าพื้นที่ใดมีข้อมูลพื้นที่อยู่แค่หน่วยเดียว

10. จงหาว่าที่พักแบบใดมีการให้บริการมากที่สุด และมากเท่าใด

11. จงหาว่าพื้นที่ใดมีจำนวนรีวิวมากที่สุด และ เขตใดมีจำนวนรีวิวมากที่สุด

12. จงหา Top 3 จำนวน Minimum Nights ที่มีเขตไม่ซ้ำกัน

13. จงหาชื่อ Host ที่ลิสที่อยู่มากที่สุด 10 อันดับแรก (Hint: ใช้ชื่อไม่ได้)

14. จงหาชื่อ Host ที่มีชื่อซ้ำกันมากที่สุด 10 ชื่อ (โดยที่ไม่ใช้คนเดียวกัน)

15. จงหาชื่อ Host ที่มีรีวิวมากที่สุด 10 อันดับแรก

16. จงหาชื่อ Host ที่มีการลิสที่อยู่ที่มีราคาเฉลี่ยสูงที่สุด 10 อันดับแรก

17. จงเพิ่ม 2 คอลัมน์ชื่อ Year และ Month จาก last review ต่อท้าย โดยใช้ข้อมูลจากคอลัมน์ last_review (Hint: ใช้ lambda)

18. สร้างคอลัมน์ใหม่ โดยให้บรรจุ Day-of-the-week (Mon, Tue....) โดยใช้ข้อมูลจาก last_review (Hint: ใช้ datetime กับ map มาช่วย)<br>
กำหนดให้ 0 = Mon, 1= Tue, 2 = Wed, 3 = Thu, 4 = Fri, 5 = Sat, 6 = Sun

19. สร้าง Count Plot นับข้อมูลประเภทของที่อยู่อาศัย

20. สร้าง Pie Chart หาพื้นที่ ที่มีที่อยู่อาศัยเยอะที่สุด 5 อันดับแรก

21. สร้าง Box Plot โดยให้แกน X เป็น เขต และ Y เป็นจำนวนรีวิว

22. สร้าง HeatMap จาก Correlation ของ DataFrame และพิจารณาดูความสัมพันธ์ พร้อมกับนำความสัมพันธ์ที่เป็น Strongest Positive มาทำ Scatter Plot

23. สร้าง Count plot หาจำนวน Last review ของแต่ละเดือนของปี 2018

24. สร้าง Pie Chart หาอัตราส่วน Last Review ในแต่ละวัน

25. สร้าง Line Graph หาราคาเฉลี่ยในแต่ละเดือนของ Last Review ในปี 2019

26. สร้าง Column ใหม่ โดยคำนวณ ณ เวลาปัจจุบันถึงวันที่ Last Review ห่างกันกี่วัน (Hint: ใช้ datetime ปัจจุบัน - datetime last review)

27. สร้าง Pie Chart ของระยะห่างของเวลา ระหว่างปัจจุบันถึง Last review เฉลี่ย ของแต่ละเขต (หน่วยเป็นวัน)

28. สร้าง Bar Plot ของระยะห่างของเวลา ระหว่างปัจจุบันถึง Last review เฉลี่ย ของแต่ละพื้นที่ 10 พื้นที่แรกที่มีระยะเวลามากที่สุด (หน่วยเป็นวัน)

29. สร้าง Bar Plot ของค่าเฉลี่ยระยะเวลาห่างระหว่างปัจจุบันถึง Last review เฉลี่ย ของแต่ละพื้นที่ 10 พื้นที่แรกที่มีระยะเวลาน้อยที่สุด

30. สร้าง Scatter Plot หาความสัมพันธ์ระหว่าง ระยะเวลาห่างระหว่างปัจจุบันถึง Last review กับ Minimum Nights (Hint: Correlation)

---