<h1>Quiz</h1>

1. โหลด csv เข้าไปใน Python Pandas

In [ ]:
import pandas as pd

2. เขียนโค้ดแสดง หัว10แถว ท้าย10แถว และสุ่ม10แถว

In [ ]:
import pandas as pd

3. ลบ row ที่มี Embarked ว่าง

In [ ]:
import pandas as pd

4. เติม age ด้วยค่าเฉลี่ย

In [ ]:
import pandas as pd

5. เติม age ด้วย 0

In [ ]:
import pandas as pd

6. ลบ row ที่ age เป็นค่าว่าง

In [ ]:
import pandas as pd

7. หาจำนวนผู้หญิงต่อผู้ชายที่อยู่บนเรือ

In [ ]:
import pandas as pd

8. หาจำนวนผู้หญิงและผู้ชายที่รอดชีวิต

In [ ]:
import pandas as pd

9. หา % การรอดชีวิตของผู้หญิงและผู้ชาย

In [ ]:
import pandas as pd

10. แปลงคอลัมน์ female = 0 และ male = 1

In [ ]:
import pandas as pd

11. หาคนที่อายุมากที่สุดพร้อมบอกชื่อ อายุ และลงท่าที่ไหน

In [ ]:
import pandas as pd

12. หาคนที่อายุน้อยที่สุดพร้อมบอกชื่อ อายุ และลงท่าที่ไหน

In [ ]:
import pandas as pd

13. หาคนที่จ่ายค่าโดยสารแพงที่สุดพร้อมบอกชื่อ อายุ และรอดชีวิตไหม

In [ ]:
import pandas as pd

14. หาคนที่จ่ายค่าโดยสารถูกที่สุดพร้อมบอกชื่อ อายุ และรอดชีวิตไหม

In [ ]:
import pandas as pd

15. สรุปว่ามีคนนั่งตั๋ว 1 2 3 กี่คน

In [ ]:
import pandas as pd

16. หาค่าเฉลี่ยของตั๋วโดยสารแบบที่นั่งชั้น 1 2 3

In [ ]:
import pandas as pd

17. มีผู้โดยสารกี่คนที่อายุเกิน 50 แล้วรอดชีวิต

In [ ]:
import pandas as pd

18. แสดงผลข้อมูลทั้งหมดของที่นั่งชั้น 1 2 3 (describe)

In [ ]:
import pandas as pd

19. แสดงผลตั๋วที่แพงที่สุดของที่นั่งแต่ละชั้น

In [ ]:
import pandas as pd

20. แสดงเป็นกลุ่มช่วงอายุ 0-10, 20-30 …. (เพิ่มทีละ10) และหาว่าแต่ละกลุ่มมีอัตราการรอดชีวิตเท่าไหร่

In [ ]:
import pandas as pd

21. เรียงลำดับตามราคามากไปน้อย และน้อยไปมาก

In [ ]:
import pandas as pd

22. (Optional) หานามสกุลที่ซ้ำกัน และแต่ละนามสกุลที่ซ้ำกันซ้ำกันกี่คน

In [ ]:
import pandas as pd

23. (Optional) แสดงผลนามสกุลที่ไม่มีการซ้ำกันเลย และนับว่ามีกี่นามสกุล

In [ ]:
import pandas as pd

---